* {
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
  height: 100vh;
  background: #1c1c25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.title {
  font-size: 3rem;
  color: #00ffe7;
  text-shadow: 0 0 10px #00a1ff, 0 0 30px #00a1ff;
}

.info {
  margin-top: 10px;
}

.info p {
  padding: 5px;
  font-size: 1.25rem;
  font-weight: bold;
}

.virtualKeyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#textarea {
  display: block;
  width: 650px;
  height: 230px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background: #1c1c25;
  border-radius: 10px;
  border: 1px solid #fff;
}

#keyboard {
  margin-top: 20px;
  border: 3px solid #000;
  border-radius: 10px;
  width: 720px;
  height: 260px;
  background: #1b1b1b;
}